/*RESET*/

body, h1, h2, h3, p, ul{
padding: 0;
margin: 0;
}
body{
    font-family: Georgia, serif;
    color: #252525;
}

*{
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    max-width: 960px;
    margin: 0  auto;
}

/* Menu */
.menu{
    background-color: #252525;
    padding: 15px 0;
}

.menu-nav{
    text-align: none;
    color: #fff;
    font-size: 1.125em;
}

